.canvas {
  width: 600px;
  height: 500px;
  margin: 50px auto;
  text-align: center;
  box-sizing: border-box;
}

.bulb {
  width: 256px;
  height: 400px;
  margin: auto;
}

.bulb-off {
  background: url(./assets/lightoff.png) no-repeat;
}

.bulb-on {
  background: url(./assets/lighton.png) no-repeat;
}
