.canvas {
  width: 600px;
  height: 500px;
  margin: 50px auto;
  text-align: center;
  box-sizing: border-box;
}

.bulb-off {
  width: 256px;
  height: 400px;
  background: url("lightoff.png") no-repeat;
  margin: auto;
}

.bulb {
  width: 256px;
  height: 400px;
  background: url("lighton.png") no-repeat;
  margin: auto;
}
