body {
  background-color: rgb(11, 12, 82);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

#password-generator {
  background-color: whitesmoke;
  border: 5px solid lightgray;
  width: 500px;
  height: 250px;
  border-radius: 25px;
  padding: 10px;
}

#password {
  display: grid;
  grid-template-columns: auto min-content;
  border-radius: 10px;
  overflow: hidden;
}

#result {
  padding: 10px;
  background-color: lightgray;
  font-size: 2em;
  border: none;
  outline: none;
}

#copy-btn {
  background-color: teal;
  color: antiquewhite;
  padding: 10px;
  border: none;
  cursor: pointer;
}

#password-length {
  width: 90%;
}

#options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#options label {
  display: block;
  background-color: lightgrey;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-family: sans-serif;
}

#generate-btn {
  background-color: rgb(43, 158, 230);
  color: antiquewhite;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  width: 175px;
  height: 50px;
  font-size: 1em;
  cursor: pointer;
}
