* {
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.key {
  background-color: #eee;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  min-width: 10px;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}

.key small {
  position: absolute;
  top: -24px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #555;
  font-size: 14px;
}

.red {
  color: #ab5052;
}

.green {
  color: #60986f;
}
